<html>

<head>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="container">
        <form id="structurizr-token" action="" method="post" >
            <h3>Token Form</h3>
            <h4>Enter Your Details below</h4>
            <fieldset>
                <input style="border-radius: 4px;" placeholder="Structurizr Workspace Id" type="text" tabindex="1" required autofocus >
            </fieldset>
            <fieldset>
                <input style="border-radius: 4px;" placeholder="Structurizr API Key" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input style="border-radius: 4px;" placeholder="Structurizr API Secret" type="tel" tabindex="3" required>
            </fieldset>
            <fieldset>
                <button style="border-radius: 4px;" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
            <p class="madewithlove">Made with <span style="color: #ff0000">&#10084;</span> <a
                    href="https://github.com/devagrawal09/monday-structurizr-integration" target="_blank"
                    title="Dev & Anmol">Dev & Anmol</a></p>
        </form>
    </div>
</body>

</html>